body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
}
* {
  box-sizing: border-box;
}

.heading {
  font-size: 24px;
  margin-bottom: 20px;
}

.heading-subtext {
  font-size: 16px;
  color: #666;
}

.file-upload-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.upload-preview-container {
  width: 100%;
  min-height: 100px;
  border: 2px dashed #ccc;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Creates 3 equal columns */
  gap: 10px;
  margin-top: 15px;
  width: 100%;
}

.button {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.upload-btn {
  background-color: #007bff;
}
.upload-btn:hover {
  background-color: #0056b3;
}

.custom-upload-btn {
  background-color: #7b0cbb;
  transition: 0.7s;
}
.custom-upload-btn:hover {
  background-color: #ae37f3;
}

.hidden-file-input {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.preview-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
  margin-top: 10px;
}
